*{
    padding: 0px;
    margin: 0px;
}
/*banner*/
.banner-container{
    display: flex;
    background-color: rgba(229, 84, 115, 0.10); 
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    
}
.heading{
    color: #272727;
    font-family: Lato;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.summery{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    max-width: 600px;
}
.flower-1{
     height:605px ;
     
}
.btn-banner{
    border-radius: 4px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 14px 28px;
    border: none;
    margin-top: 30px;

}
.banner{
    text-align: rignt;
    padding:85px 60px;
}
/*body section*/
.photo-2{
    display: flex;
    gap:30px;
    justify-content: center;
}
.flower-02{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    height: 300px;
    width: 320px;
    padding-top: 70px;
}
.flower-002{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 320px;
    height: 300px;
    padding-top: 70px;

}
.flower-0002{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 320px;
    height: 300px;
    padding-top: 70px;
}
.theme{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 30px;
}
.story{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 25px;
}
h3{
    text-align: center;
    padding-top: 20px;
}
hr{
    margin:0px 90px;
    border: none;
    height: 2px;
    background-color: black;
    font-weight: bold;
}
/*3th page*/
.local{
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    height: 50vh;
    margin:40px 110px 0px 110px;
    
}
.supplies{
    text-align: center;
    padding-top:100px ;
}
.benifits{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    padding-top: 10px;
}
/*4th page*/
.contain{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.story-01{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
span{
    color:#E55473;
}
.deal{
    display: flex;
    width:100%;
    height: 70vh;
    background-color: rgba(217, 97, 123, 0.1);
    margin-top: 80px;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
.btn01{
    border-radius: 4px;
    background: #ed4e71;
    color: #FFF;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 14px 28px;
    border: none;
    margin-top: 30px;
}
.flower-03{
    height: 300px;
}
/*footer part*/
footer{
    margin-top: 100px;
    height: 50vh;
    background: #000;
    color: #FFF;
    align-items: center;
    text-align: center;
    
    
    
}
.story02{
    color: rgba(255, 255, 255, 0.90);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 10px;
}
.note{
    color: rgba(255, 255, 255, 0.40);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
}
.last-part{
    padding: 80px;
}
/*5th page*/
.menu{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.flower-04{
    width: 220px;
   height: 250px;
}
/*6th page*/
.show-cashing{
    border-radius: 8px;
    background-image: url('./pictures/rectangle-9.png');
    margin: 60px 150px;
    padding-bottom: 40px;
}
form{
    text-align: center;
  }
  form input[type="email"] {
      padding: 16px 0px;
      width: 40%;
      font: 600;
      background:pink;
      border-radius: 5px;
      border:0px;
      text-align: center;
  }